[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[alias]
  df = diff --color=auto
[color]
  ui = auto
[user]
  name = Yunong Xiao
  email = yjxiao@gmail.com
[core]
  editor = /usr/bin/vim
[push]
	default = simple
[github]
	user = yunong
